.page {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right,
    #15005f 0%,
    #15005f 50%,
    #b8b4c4 50%,
    #b8b4c4 100%
  );
}

.page-inner {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.leftpanel-container {
  background: linear-gradient(180deg, #15005f, #05002c);
}

.rightpanel-container {
  background: #b8b4c4;
}
