.stepfields {
   
}

.wrapper {
 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.help {
cursor: pointer;
place-items: center;
}


.inputShell {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  padding: 12px 18px;
  border-radius: 12px;
  border: 2px solid rgba(255, 0, 255, 0.815);
  background: rgb(255, 255, 255);
  font-size: 16px;
}

.prefix {
   font-weight: 500;
   color: rgb(0, 0, 0);
   min-width: fit-content;
}

.textarea {
    width: 100%;
    resize: none;
    border: none;
    font-size: 16px;
}