.steps {
}

h1 {
  font-size: 28px;
  color: white;
  margin-top: 100px;
}

label {
  color: white;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 20px;
}

textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 18px;
  color: white;
  border-radius: 6px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-color: aqua;
}

select {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: white;
  width: 100%;
  padding: 10px 16px;
  border-radius: 6px;
}

textarea::placeholder,
input::placeholder {
  color: rgba(255, 255, 255, 0.5);

  font-size: 14px;
  font-style: italic;
}

select:focus {
  background: rgba(255, 255, 255, 0.6);

  outline: none;
  color: rgb(0, 0, 0);
}
